doctype html
html
	head
		include includes/head.pug

	body
		section#sessions
			.container
				.desktop-9.columns
					h1 
						| Sessions
						- if (isResponse)
							span.superscript Responses


				.desktop-3.columns
					if (isResponse)
						a(href='/response/export').button
							i.icon.ion-ios-download 
							| Export to CSV
					else
						a(href='/response').button
							| View Responses	

				.clear

				- var sessionCount = 0
        
				for session in sessions
					.desktop-6.columns
						h2 #{session.title}

						for user in session.users
							- var pathPrefix = isResponse ? '/response' : ''
							a(href=pathPrefix + `/navigations/user/` + user).link-user 
								span.username #{user}
								- var count = countMap[user.toLowerCase()]

								if (count > 0)
									span.count #{count}
								else
									span.count.not-found Not found
                  
					- sessionCount++
					if (sessionCount % 2 == 0)
						.clear(style='height: 20px;')
          
				.clear
