html
	head
		title= title

		link(rel="stylesheet", href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css")
		link(rel="stylesheet", href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:400,700,700italic,400italic")
		link(rel="stylesheet", href="/css/typegrid.css")
		link(rel="stylesheet", href="/css/style.css")

	body
		section#sessions
			.container
				.desktop-12.columns
					h1 Sessions

				for session in sessions
					.desktop-6.columns
						h2 #{session.title}

						for user in session.users
							a(href=`/navigations/user/` + user).link-user 
								span.username #{user}
								- var count = countMap[user.toLowerCase()]

								if (count > 0)
									span.count #{count}
								else
									span.count.not-found Not found


				.clear
