doctype html
html
	include includes/head.pug

	body
		section#user-navigations
			.container
				.desktop-12.columns
					- var titleText = isResponse ? (navigations.length + ' form submissions for username' + userName) : (navigations.length + ' navigation entries for username' + userName); 
					h2 #{titleText}

					.list-navigations
						for navigation in navigations
							- var pathPrefix = isResponse ? '/response' : ''
							a.item(href=pathPrefix + `/navigation/` + navigation.trackId)
								span.date #{navigation.date}

								- var displayUrl = (navigation.url.length > 80) ? navigation.url.substr(0, 80) + '...' : navigation.url;

								span.url #{displayUrl}