/*--------------------------------------------------------------------------
	1. Body
--------------------------------------------------------------------------*/

html {
}

body {
	color: #000;
	font-size: 16px;
	line-height: 26px;
	font-family: "Roboto", sans-serif;
	font-weight: 400; 
	-webkit-font-smoothing: antialiased;
  	/* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
	position: relative; 
}

	@media screen and (max-width: 767px) {
		body {
			font-size: 17px;
			line-height: 32px;
		}
	}


/*--------------------------------------------------------------------------
	2. Typography
--------------------------------------------------------------------------*/

/* Links */
a {
	color: #000;
	text-decoration: none;
	outline: 0;
}

a:hover,
a:focus {
	color: #000;
}

/* Visibility */
.hide {
	display: none !important;
}

/* Highlighted Text */
::selection {
	background: #9e5bea;
	color: #000;
	text-shadow: none;
}

/* Firefox */
::-moz-selection {
	background: #9e5bea;
	color: #000;
	text-shadow: none;
}

::-webkit-input-placeholder {
   color: #ccc;
}

:-moz-placeholder { /* Firefox 18- */
   color: #ccc;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #ccc; 
}

:-ms-input-placeholder {  
   color: #ccc;
}

em,
.italic {
	font-style: italic;
}

strong,
.bold {
	font-weight: bold;
}

.align-center {
	text-align: center; 
}

img {
	max-width: 100%; 
}


/*--------------------------------------------------------------------------
	3. Page Sections
--------------------------------------------------------------------------*/

h1 {
	font-size: 36px; 
	line-height: 48px; 
}

h2 {
	font-size: 24px; 
	line-height: 36px; 
}

	/*----------------------------------------------------------
		3.1. Header
	-----------------------------------------------------------*/

	#sessions {
		padding: 50px 0; 
	}

		#sessions h1 {
			padding-bottom: 20px; 
		}

		#sessions h2 {
			padding-bottom: 20px; 
		}

		#sessions a.link-user {
			color: #999; 
			display: block; 
			border-top: 1px solid #ccc; 
			padding: 8px 0; 
		}

			#sessions a.link-user:hover {
				color: #000; 
				border-top-color: #000; 
			}

			#sessions a.link-user span.username {
				display: inline-block; 
			}

			#sessions a.link-user span.count {
				float: right; 
				font-size: 12px; 
				line-height: 16px; 
				display: inline-block; 
				padding: 2px 4px; 
				margin-top: 3px; 
				margin-left: 5px; 
				border-radius: 3px;
				color: #fff; 
				background: #33cc22; 
			}

				#sessions a.link-user:hover span.count {
					background: #000;
				}

			#sessions a.link-user span.count.not-found {
				background: #ff5544; 
			}

				#sessions a.link-user:hover span.count.not-found {
					color: #ff5544; 
					background: #000; 
				}

	

	#user-navigations {
		padding: 50px 0; 
		font-size: 14px; 
		line-height: 24px; 
	}

		#user-navigations {

		}

			#user-navigations .list-navigations {
				margin-top: 30px; 
			}

			#user-navigations a.item {
				display: block; 
				padding: 4px 0; 
			}

			#user-navigations span.date {
				color: #aaa; 
				font-size: 12px; 
				line-height: 12px; 
				display: inline-block; 
				padding-right: 20px; 
			}

				#user-navigations a.item:hover span.date {
					color: #33cc22; 
				}

			#user-navigations span.url {
				color: #444; 
				display: inline-block; 
			}

				#user-navigations a.item:hover span.url {
					color: #33cc22;
				}
	
	

	#meta {
		position: fixed; 
		top: 0; 
		left: 0; 
		width: 100%; 
		z-index: 100; 
		font-size: 14px; 
		line-height: 14px; 
		box-shadow: 0 0 8px #ccc;
	}

		#meta .left {
			position: absolute; 
			top: 0; 
			left: 0; 
		}

		#meta .right {
			position: absolute; 
			top: 0; 
			right: 0; 	
		}

		#meta a.link-nav {
			display: inline-block; 
			padding: 14px 20px; 
			color: #33cc22; 
		}

			#meta a.link-nav:hover {
				color: #fff; 
				background: #44dd33;
			}

		#meta .center {
			background: #fff; 
			text-align: center; 
		}

		#meta span.session-name {
			color: #ff5544; 
			display: inline-block; 
			padding-right: 10px; 
			border-right: 2px solid #ddd; 
			margin-right: 10px; 
		}

		#meta span.url {
			color: #444;
			display: inline-block; 
			padding: 14px 0; 
		}

		#meta span.count {
			color: #ccc;
			font-size: 12px; 
			line-height: 12px; 
			display: inline-block; 
			padding: 7px 7px; 
			border: 1px solid #ccc; 
			margin-left: 15px; 
			border-radius: 4px; 
		}


	#screenshots {
		padding-top: 80px; 
	}

	.screenshot-wrapper {
		margin-bottom: 60px; 
	}
	
		.screenshot-wrapper .duration {
			font-size: 14px; 
			line-height: 14px; 
		}

			.screenshot-wrapper .duration .time {
				float: left; 
				color: #fff; 
				display: inline-block; 
				background: #111; 
				padding: 14px 18px; 
			}

			.screenshot-wrapper .duration .unit {
				color: #888; 
			}

			.screenshot-wrapper .duration .bar {
				position: relative; 
				float: left; 
				background: #33cc22; 
				width: 500px; 
				height: 4px; 
				top: 18px; 
			}

				.screenshot-wrapper .duration .bar .circle {
					position: absolute; 
					background: #fff; 
					border: 4px solid #33cc22; 
					padding: 4px; 
					box-sizing: border-box; 
					top: -6px; 
					right: -2px; 
					border-radius: 10px; 
				}

			.screenshot-wrapper .duration .desc {
				float: left; 
				position: relative; 
				top: 10px; 
				left: 10px; 
			}


	.img-screenshot {
		border: 1px solid #ccc; 
	}



	#survey {
		font-size: 18px; 
		line-height: 32px; 
	}

		#survey h4 {
			font-size: 16px; 
			line-height: 24px; 
			margin-top: 20px; 
			border-top: 1px solid #ddd; 
			padding-top: 20px; 
		}

		#survey p {
			margin-bottom: 20px; 
			margin-top: 20px; 
			border-top: 1px solid #ddd; 
			padding-top: 20px; 
		}

		#survey textarea {
			background: #f5f5f5; 
			border: 1px solid #e5e5e5;
			width: 100%; 
			box-sizing: border-box; 
			padding: 15px 20px;  
			outline: none; 
		}

		#survey input[type=text] {
			background: #f5f5f5; 
			border: 1px solid #e5e5e5;
			width: 100%; 
			box-sizing: border-box; 
			padding: 15px 20px;  
		}



		#survey input[type=submit].submit-form {
			color: #fff; 
			font-size: 24px; 
			line-height: 24px; 
			display: block; 
			padding: 45px 40px; 
			width: 100%; 
			box-sizing: border-box; 
			margin-top: 50px; 
			background: #44dd33; 
			border: none; 
			border-top: 1px solid #33cc22; 
			
			cursor: pointer; 
		}

			#survey input[type=submit].submit-form:hover {
				background: #33cc22; 
			}


<<<<<<< HEAD
=======
	.screenshot-wrapper {
		margin-bottom: 60px; 
	}

	.img-screenshot {
		border: 1px solid #ccc; 
	}
>>>>>>> 37bcf7fb3894a778b1a912c27b3e0bc3c9d52fbd

	.question {
		margin-top: 30px; 
	}